@import "_variables";

@mixin absoluteTopLeft {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexGap($gap) {
  display: flex;
  gap: $gap;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin marginCenter($height) {
  margin: $height auto;
}
@mixin marginTopBottom($height) {
  margin: $height 0;
}

@mixin title($margin, $font-size) {
  font-family: $poppins;
  font-weight: $normal;
  text-align: left;
  color: white;
  @include marginTopBottom($margin);
  font-size: $font-size;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 600px) {
      @content;
    }
  }

  @else if $breakpoint == "tablet" {
    @media (min-width: 601px) and (max-width: 900px) {
      @content;
    }
  }
  @else if $breakpoint == "desktop" {
    @media (min-width: 901px) {
        @content;
      }
  }
}

  //all movies
@mixin __infinite-scroll($justify-content){
@include flexGap(2vw);
  flex-wrap: wrap;
  flex-direction: row;
  @include marginCenter(0);
  justify-content: $justify-content;
  position: relative;
  border-top-left-radius: $border-rounded;
  border-top-right-radius: $border-rounded;
}

@mixin __card-container{
  height: 20rem;
  border-radius: $border-rounded;
  object-fit: cover;
}

@mixin __card-title {
cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $gris-clair;
  margin-top: 0.5rem;
  text-align: center;
}
  // movie-detail
  @mixin __container($direction) {
    display: flex;
    justify-content: flex-start;
    flex-direction: $direction;
  }
  @mixin __description($width){
    max-width: $width;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  @mixin __crew {
    display: flex;
    background: $background-black;
    color: white;
  }
  @mixin __cast{
    display: flex;
    background: $background-black;
    color: white;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // caroussel

  @mixin _carousel-container{
    max-height: 20rem;
    border-radius: $border-rounded;
    position: relative;
  }
