// font
$poppins : 'Poppins';

// colors

$background-black : #171717;
$gris-clair: #c1c1c1;
$gris-anthracite: #2c3e50;
$orange : #ff9169;

// z-index

$z-top: 3;
$z-middle: 2;
$z-bottom: 1;

//font-weight:

$normal: 400;
$bold : 600;
$bolder: 800;

// border-radius

$border-rounded: 0.75rem;
